<div class="header">

  <!-- Sección del logo de la aplicación -->
  <div class="logo-section">
    <img src="../../../../assets/logo.svg" alt="Airbnb logo">
    <h1>Airbnb</h1>
  </div>

  <!-- Sección de menú de navegación de diferentes funcionalidades -->
  <div class="menu-section">
    <ul>
      <li><a routerLinkActive="active-link" routerLink="/all-acommodations">Alojamientos</a></li>
      <li><a routerLinkActive="active-link" routerLink="/all-experiences">Experiencias</a></li>
    </ul>
  </div>

  <!-- Sección de botones de autenticación -->
  <div class="auth-section">
    <ul>
      <li><a routerLink="/register">Registrarse</a></li>
      <li><a routerLink="/login" class="a-iniciar-sesion" >Iniciar sesión</a></li>
    </ul>
  </div>
</div>