<div class="header">

  <!-- Sección del logo de la aplicación -->
  <div class="logo-section">
    <img src="../../../../assets/header/logo.svg" alt="Airbnb logo">
  </div>

  <!-- Sección de menú de navegación de diferentes funcionalidades -->
  <div class="menu-section">
    <ul>
      <li>
        <a routerLinkActive="active-link" routerLink="/acommodations">
          <img src="../../../assets/header/house.png" alt="Acommodation" srcset="">
          Alojamientos
        </a>
      </li>
      <li>
        <a routerLinkActive="active-link" routerLink="/experiences">
          <img src="../../../assets/header/experience.png" alt="Experiences" srcset="">
          Experiencias
        </a>
      </li>
    </ul>
  </div>

  <!-- Sección de botones de autenticación -->
  <div class="auth-section">

    <button class="become-host-btn">
      <p>Convertite en anfitrión</p>
    </button>

    <button class="menu-dropdown">
      <i class="fa-solid fa-globe"></i>
    </button>

    <button class="menu-dropdown" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>

    @if (abrirMenu) {
      <ul class="auth-menu">
        <li><a routerLink="/register">Registrarse</a></li>
        <li><a routerLink="/login" class="a-iniciar-sesion" >Iniciar sesión</a></li>
      </ul>
    }
  </div>
</div>