
/* HEADER STYLES */

.header {
  width: 95%;
  background: #f1f5fc;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  user-select: none;
}

.header .logo-section img:hover {
  transform: scale(1.09);
  transition: all .2s;
}

.header .logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-section img {
  width: 100px;
  height: fit-content;
  margin: 0 30px 0 40px;
  transition: all .2s;
}

/* MENU STYLES */

.header .menu-section {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.menu-section ul {
  display: flex;
}

.menu-section ul li {
  list-style-type: none;
}

.menu-section ul li a {
  display: block;
  text-decoration: none;
  color: #464f6d;
  font-size: 20px;
  padding: 10px 20px;
  transition: all .2s;
  display: flex;
  align-items: center;
}

.menu-section ul li a img {
  width: 30px; 
  height: auto; 
  object-fit: contain;
  margin-right: 10px;
}

.menu-section ul li a:hover {
  color: #ff5a5f;
  transition: all .2s;
}

.header .auth-section {
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}

.auth-section ul {
  display: flex;
}

.auth-section ul li {
  list-style-type: none;
  font-weight: 500;
}

.auth-section ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 10px;
  background: transparent;
  color: #ff5a5f;
  border: 1px solid #ff5a5f;
  font-size:18px;
}

.auth-section ul li a.a-iniciar-sesion {
  background: #ff5a5f;
  color: #fff;
}

.auth-section ul li a:hover {
  color: #e44a4f;
  background: #e1e5ec;
  border-color: #e44a4f;
  transition: all .2s;
}

.auth-section ul li a.a-iniciar-sesion:hover {
  background: #e44a4f;
  color: #fff;
  transition: all .2s;
}

.header ul li a.active-link {
  color: #e44a4f;
}