<div class="header">
  <div class="logo-section">
    <img src="../../../../assets/logo.svg" alt="Airbnb logo">
    <h1>Airbnb</h1>
  </div>
  <div class="menu-section">
    <ul>
      <li><a routerLink="/all-acommodations">Alojamientos</a></li>
      <li><a routerLink="/all-experiences">Experiencias</a></li>
    </ul>
  </div>
  <div class="auth-section">
    <ul>
      <li><a routerLink="/register">Registrarse</a></li>
      <li><a routerLink="/login" class="a-iniciar-sesion" >Iniciar sesión</a></li>
    </ul>
  </div>
</div>