<div class="all-experiences">
  <div class="experiences-group">
    <div class="experience-group-title">
      <h2>Disponibles hoy en Buenos Aires</h2>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="experiences-group-accomodations">

      @for (experiencia of experiencias; track $index) 
      {
        <div class="experience" [routerLink]="['/experiences', experiencia.id_experiencia]" >
          <div class="experience-img">
            <img [src]="experiencia.url_imagenes[0]" [alt]="experiencia.titulo">
          </div>
          <p [title]="experiencia.titulo">{{experiencia.titulo}}</p>
          <span>${{experiencia.precio_por_persona}} USD por noche • {{ experiencia.tiene_cupo ? "Aún hay cupos" : "Ya no hay cupos" }}</span>
        </div>
      }
    </div>
  </div>
</div>
