.all-acommodations {
  width: 95%;
  background: transparent;
  border-radius: 20px;
  margin: 10px auto 30px;
  font-weight: 600;
  color: #222;
  font-size: 15px;    
}

.acommodations-group {
  margin-bottom: 20px;
}

.acommodation-group-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  transition: all .2s;
}

.acommodation-group-title:hover {
  transform: scale(1.01);
  transition: all .2s;
}

.acommodation-group-title i {
  margin-left: 5px;
  font-size: 20px;
}

.all-acommodations .acommodations-group .acommodation-group-title h2 {
  font-weight: 500;
}

.all-acommodations .acommodations-group .acommodations-group-accomodations {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.acommodation {
  /* margin: 0 10px; */
  flex: 0 0 calc((100% - 6 * 15px) / 7);
  box-sizing: border-box;
  transition: all .2s;
  cursor: pointer;
  outline: 0 none;
}

.acommodation:hover {
  transform: scale(1.01);
  transform: all .2s;
}

.acommodation p {
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px  
}

.acommodation span {
  font-size: 12px;
  color: #646875;
}

.acommodations-group-accomodations .acommodation img {
  border-radius: 20px;
  width: 240px;
  height: 250px;
  object-fit: cover;
}

