<div class="footer">

  <!-- Sección izquierda: con marca y breve descripción del producto -->
  <div class="top-section">
    <div class="top-info">
      <div class="brand-info">
        <img src="../../../../assets/logo.svg" alt="Logo">
        <p>Airbnb conecta personas con alojamientos únicos en todo el mundo. Viví como un local, donde sea que vayas.</p>
      </div>

      <!-- Links con las redes sociales -->
      <p class="social-media-desc">Conectá con nosotros</p>
      <div class="social-media">
        <a href="https://www.instagram.com">Instagram</a>
        <a href="https://www.linkedin.com">LinkedIn</a>
        <a href="https://www.youtube.com">YouTube</a>
      </div>
    </div>
  </div>

  <!-- Seccion derecha: Contiene información de derechos y legalidad -->
  <div class="bottom-section">
    <div class="section">
      <p>Copyright © 2024 Airbnb. All rights reserved.</p>
    </div>
    <div class="section">
      <a href="#">Terms & Conditions</a> | 
      <a href="#">Privacy policy</a>
    </div>
  </div>
</div>