.footer {
  width: 95%;
  margin: 10px auto 0;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  color: #464f6d;
  font-size: 15px;
  flex-wrap: wrap;
}

.footer .top-section, .footer .bottom-section {
  padding: 45px 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.footer .bottom-section {
  padding-top: 0;
}

.footer .top-section .brand-info img {
  width: 30px;
  height: fit-content;
  filter: grayscale(100%);
}

.footer .top-section .social-media {
  display: flex;
}

.footer .top-section .social-media a {
  display: block;
  font-size: 40px;
}

.footer a { 
  color: #ff5a5f;
  transition: all .2s;
}

.footer a:hover { 
  color: #e44a4f;
  transition: all .2s;
}

.social-media a {
  display: block;
  text-decoration: none;
  margin-right: 15px;
}

.top-section .brand-info p {
  color: #6d758f;
}

.footer .top-section p.social-media-desc {
  margin-top: 20px;
  font-weight: 600;
}

.footer .section.config {
  display: flex;
  gap: 30px;
}

.section.info {
  display: flex;
  gap: 15px;
}

.section.info span.words {
  cursor: pointer;
}

.section.info span.words:hover {
  text-decoration: underline;
}

.section.config p {
  display: block;
  width: fit-content;
  cursor: pointer;
  transition: all .2s;
}

.section.config p:hover {
  transition: all .2s;
  transform: scale(1.05);
}