<div class="footer">

  <!-- Sección izquierda: con marca y breve descripción del producto -->
  <div class="top-section">
    <div class="top-info">
      <div class="brand-info">
        <img src="../../../../assets/footer/logo.svg" alt="Logo">
        <p>Airbnb conecta personas con alojamientos únicos en todo el mundo. Viví como un local, donde sea que vayas.</p>
      </div>

      <!-- Links con las redes sociales -->
      <p class="social-media-desc">Conectá con nosotros</p>
      <div class="social-media">
        <a href="https://www.instagram.com/airbnb/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://ar.linkedin.com/company/airbnb">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://www.youtube.com/airbnb">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Seccion derecha: Contiene información de derechos y legalidad -->
  <div class="bottom-section">
    <div class="section info">
      <span>© {{ year }} Airbnb, Inc.</span>
      <span>·</span>
      <a class="words" href="https://www.airbnb.com.ar/help/article/2855">Privacidad</a>
      <span>·</span>
      <a class="words" href="https://www.airbnb.com.ar/help/article/2908">Términos</a> 
    </div>
  </div>
</div>