<div class="footer">
  <div class="top-section">
    <div class="top-info">
      
      <div class="brand-info">
        <img src="../../../../assets/logo.svg" alt="Logo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum velit laudantium porro dolores, similique assumenda!</p>
      </div>
      <div class="social-media">
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">YouTube</a>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <div class="section">
      <p>Copyright © 2024 Airbnb. All rights reserved.</p>
    </div>
    <div class="section">
      <a href="#">Terms & Conditions</a> | 
      <a href="#">Privacy policy</a>
    </div>
  </div>
</div>